<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="chinobot.security3.mapper.RoleMapper">

    <select id="getRolesByUserId"
            resultType="chinobot.security3.entity.Role">
        SELECT  a.*
        from sys_role a inner join sys_user_role b on a.id=b.role_id
        where
         a.is_deleted = 0 and b.is_deleted=0
        and b.user_id=#{userId}
    </select>



</mapper>
